body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fcfcfc;
    color: #333;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    height: 100vh;
    margin-left: 128px;
    margin-right: 128px;
}

input, select, button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

h1 {
    font-size: 40px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 64px;
}

/* ==========================
    検索フォーム
========================== */


.product_form-search {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.form_row-top,
.form_row-bottom {
    display: flex;
    align-items: flex-end;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.form_field-keyword,
.form_field-company,
.form_field-button {
    display: flex;
    flex-direction: column;
}

input, select {
    width: 260px;
    height: 48px;
    padding: 11px 12px;
    border-radius: 8px;
    border: 1px solid #C6CACE;
    box-sizing: border-box;
    color: #333;
}

input::placeholder {
    color: #C6CACE;
}

.form_button-search {
    width: 128px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #C6CACE;
    background-color: #F1F3F6;
    font-weight: 700;
    color: #333;
    cursor: pointer;
}

.form_button-search:hover {
    background-color: #e0e0e0;
}

.form_field-price .form_range-group input,
.form_field-stock .form_range-group input {
    width: 120px;
}

/* ==========================
    テーブル
========================== */

table {
    margin: 48px auto;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    text-align: left;
    white-space: nowrap;
}

th a {
    display: block;
    padding: 24px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

th {
    background-color: #5942D2;
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid #ccc;
    padding: 0px;
}

th:hover {
    background-color: #8472dd;
    cursor: pointer;
}

th.no-hover:hover {
    background-color: #5942D2;
    cursor: default;
}

a {
    color: #fff;
    text-decoration: none;
}

td {
    padding: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th.col-narrow,
td.col-narrow {
    width: 96px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table tbody tr:nth-child(odd) {
    background-color: #F1F3F6;
}

.image_cell {
    height: 74px;
    width: 128px;
    padding: 8px;
    text-align: left;
    color: #C6CACE;
}

.product_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

/* ==========================
    ボタン
========================== */

.button {
    display: block;
    font-weight: 700;
    letter-spacing: 0.02em;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

.button_primary {
    background-color: #8472dd;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 4px 10px rgba(40, 26, 134, 0.4);
    padding: 16px;
    width: 168px;
}

th .button_primary {
    margin: 16px 24px;
}

.button_group {
    display: flex;
    gap: 8px;
    align-items: center;
}

.button_detail,
.button_delete {
    flex: 1;
    padding: 8px 16px;
    width: 80px;
}

.button_detail {
    background-color: rgba(89, 66, 210, 0.1);
    color: #5942D2;
    border: 1px solid #5942D2;
}

.button_delete {
    background-color: rgba(181, 9, 9, 0.1);
    color: #B50909;
    border: 1px solid #B50909;
}

.button_primary:hover {
    background-color: #fff;
    color: #5942D2;
    box-shadow: 0 2px 8px rgba(89, 66, 210, 0.3);
    transition: all 0.2s ease-in-out;
}

.button_detail:hover {
    background-color: rgba(89, 66, 210, 0.3);
}

.button_delete:hover {
    background-color: rgba(181, 9, 9, 0.3);
}

/* ==========================
    ページネーション
========================== */

.pagination {
    display: flex;
    justify-content: left;
    gap: 8px;
    padding: 1rem 0;
    list-style: none;
}

/* 各ページアイテム */
.pagination .page-item {
    display: inline-block;
}

/* 通常のリンク */
.pagination .page-link {
    display: inline-block;
    padding: 12px 18px;
    color: #333;
    text-decoration: none;
    border: 1px solid #C6CACE;
    border-radius: 4px;
    background-color: #FCFCFC;
    transition: background-color 0.2s;
}

.pagination .page-link:hover {
    background-color: #e0e0e0;
}

/* 現在ページ */
.pagination .page-item.active .page-link {
    background-color: #5942D2;
    color: #fff;
    border-color: #5942D2;
}

/* 無効なリンク */
.pagination .page-item.disabled .page-link {
    color: #aaa;
    pointer-events: none;
    background-color: #f0f0f0;
    border-color: #ddd;
}

/* ==========================
    モーダル
========================== */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.modal.is-visible {
    display: flex;
}

.modal_close {
    position: absolute;
    right: 16px;
    bottom: 16px;
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #5942D2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.modal_content {
    position: relative;
    background-color: #fff;
    padding: 24px 32px 48px;
    border-radius: 12px;
    text-align: left;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    min-width: 400px;
    min-height: 64px;
}

.modal_content.error {
    background-color: #fbeaea;
    color: #a94442;
    border: 1px solid #ebccd1;
}

.modal_content.error .modal_close {
    background-color: #b50909;
}

.modal_footer {
    position: absolute;
    right: 16px;
    bottom: 16px;
    display: flex;
    gap: 8px;
    margin-top: 16px;

}

.button_cancel {
    padding: 8px 16px;
    background-color: #fff;
    color: #333;
    border: 1px solid #C6CACE;
    cursor: pointer;
}

.button_danger {
    padding: 8px 16px;
    background-color: #B50909;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.button_cancel:hover {
    background-color: #f5f5f5;
    color: #000;
    border-color: #999;
    transition: all 0.2s ease-in-out;
}

.button_danger:hover {
    background-color: #930707;
    box-shadow: 0 2px 6px rgba(181, 9, 9, 0.4);
    transition: all 0.2s ease-in-out;
}
